<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>twitter2</title>
        <meta charset="UTF-8" />        
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"/>        
    </head>
    <body>
        <h2>Accounts</h2>
        <ol>
            <li th:each="account : ${accounts}">
                <span th:text="${account.username}">msg</span>
                <span th:text="${account.name}">msg</span>
                <span th:text="${account.profileName}">msg</span>
            </li>
        </ol> 
    </body>
</html>