<html>

    <html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
        <head>
            <title>twitter2</title>
            <meta charset="UTF-8" /> 
            <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">                    
        </head>

        <body>
            <nav class="navbar navbar-expand-lg navbar-dark bg-dark">

                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav mx-auto">
                        <li class="nav-item px-3">
                            <a class="nav-link" th:href="@{/index}">Etusivu</a>
                        </li>
                        <li class="nav-item px-3">
                            <a class="nav-link" th:href="@{/accounts/{profileName}(profileName=${currentUser.profileName})}">Oma profiilisi</a>
                        </li> 
                        <li class="nav-item px-3">
                            <a class="nav-link" th:href="@{/accounts/{profileName}/photos(profileName=${currentUser.profileName})}">Oma kuva-galleria</a>
                        </li>  
                        <li class="nav-item active px-3">
                            <a class="nav-link" th:href="@{/findProfile}">Etsi käyttäjiä <span class="sr-only">(current)</span></a>
                        </li>   
                    </ul>

                </div>
            </nav>   
        </body>

        <body style="background-color:lightslategrey;">

            <br>
            </br>

            <div class="container">

                <div class="starter-template">

                    <div class="card bg-light mb-3" style="width: 95%" >
                        <div class="card-body">



                            <h1>Etsi käyttäjiä:</h1>
                            <p>Täällä voit etsiä käyttäjiä nimen perusteella</p>
                            <form action="#" th:action="@{/findProfile/seach}" method="GET"> 
                                <form>
                                    <input type="text" name="name"/>
                                    <input type="submit" class="btn btn-dark" value="Etsi!"/>
                                </form>


                                <ul class="list-group">
                                    <li class="list-group-item" th:each="profile : ${profiles}">
                                        <h6> Nimi: <span th:text="${profile.account.name}">name</span></h6>
                                        <h6> Käyttäjänimi: <span th:text="${profile.account.username}">username</span></h6>
                                        <h6> Profiilin tunnus: <span th:text="${profile.account.profileName}">profileName</span></h6>

                                        <p></p>
                                        <form th:action="@{/accounts/{profileName}(profileName=${profile.account.profileName})}" method="GET">
                                            <input type="submit" class="btn btn-dark" value="Näytä profiili"/>
                                        </form>
                                    </li>
                                    <br></br>
                                    <br></br>

                                </ul>
                        </div>
                    </div>
                </div>
            </div>
        </body>
    </html>
