<html>

    <html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
        <head>
            <title>twitter2</title>
            <meta charset="UTF-8" />
        </head>

        <body>
            <div><a th:href="@{/accounts/{profileName}(profileName=${currentUser.profileName})}">Oma profiiliisi </a></div>
            <div><a th:href="@{/findProfile}">Etsi käyttäjiä </a></div>

            <div th:if="${profilePhoto} != null">
                <img th:src="@{/accounts/{profileName}/photos/{number}/content(profileName=${currentUser.profileName}, number=${profilePhoto})}"/>
            </div>

            <h2>Hei  <span th:text="${currentUser.account.name}">nimi</span>, hauskaa että olet täällä taas! </h2>


            <h1>Lähetä viesti:</h1>

            <form action="#" th:action="@{/index}" method="POST"> 
                <form>
                    <input type="text" name="content"/>
                    <input type="submit" value="Lähetä"/>
                </form>
            </form>

            <ol>
                <li th:each="message : ${messages}">

                    <p> Lähettäjä: <span th:text="${message.profile.account.name}">name</span></p>
                    <p> Viesti: <span th:text="${message.content}">content</span></p>
                    <p> Päiväys: <span th:text="${message.date}">date</span></p>
                    <p> Tykkäykset: <span th:text="${message.likeCount}">likes</span></p>


                    <ol>
                        <li th:each="comment : ${message.comments}">
                            <span th:text="${comment.profile.account.name}">name</span>
                            <span th:text="${comment.content}">name</span>
                        </li>
                    </ol>


                    <form method="POST" th:action="@{/index/{id}/comment/(id=${message.id})}" >
                        <p>Kommentti: <input type="text" name="comment" id="comment"/></p>
                        <input type="submit" value="Kommentoi!"/>
                    </form>



                    <form method="POST" th:action="@{/index/{id}/like(id=${message.id})}" >
                        <input type="submit" value="Tykkää!"/>
                    </form>
                </li>
            </ol>

        </body>
    </html>
