<html>

    <html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
        <head>
            <title>twitter2</title>
            <meta charset="UTF-8" /> 
            <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">                    
        </head>

        <body>
            <nav class="navbar navbar-expand-lg navbar-dark bg-dark">

                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav mx-auto">
                        <li class="nav-item px-3">
                            <a class="nav-link" th:href="@{/index}">Etusivu</a>
                        </li>

                        <div th:if="${profile.account.username} == ${currentUser.username}">                        
                            <li class="nav-item active px-3">
                                <a class="nav-link" th:href="@{/accounts/{profileName}(profileName=${currentUser.profileName})}">Oma profiilisi <span class="sr-only">(current)</span></a>
                            </li> 
                        </div>

                        <div th:if="${profile.account.username} != ${currentUser.username}">                        
                            <li class="nav-item px-3">
                                <a class="nav-link" th:href="@{/accounts/{profileName}(profileName=${currentUser.profileName})}">Oma profiilisi</a>
                            </li> 

                        </div>

                        <li class="nav-item px-3">
                            <a class="nav-link" th:href="@{/accounts/{profileName}/photos(profileName=${currentUser.profileName})}">Oma kuva-galleria</a>
                        </li> 

                        <li class="nav-item px-3">
                            <a class="nav-link" th:href="@{/findProfile}">Etsi käyttäjiä</a>
                        </li>   
                    </ul>
                    <ul class="navbar-nav float-md-right">                   
                        <li class="nav-item px-3" style="padding-right: 30px">
                            <a class="nav-link" th:href="@{/logout}">Kirjaudu ulos</a>
                        </li> 
                    </ul>

                </div>
            </nav>   
        </body>



        <body background="https://images.unsplash.com/photo-1494319827402-c4b839aed26b?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1169&q=80" style="background-size: cover; background-attachment: fixed;">  
            <br>
            </br>

            <div class="container">

                <div class="starter-template">

                    <div class="card bg-light mb-3" style="width: 95%" >
                        <div class="card-body">


                            <div th:if="${profile.account.username} == ${currentUser.username}">
                                <h1 style="font-family: 'Times New Roman'">Tervetuloa sinun profiiliin!</h1>
                                <p style="font-family:'Courier New'">Täällä näet, ketkä kaikki seuraavat sinua, sekä ketä sinä seuraat! </p>

                            </div>

                            <div th:if="${profile.account.username} != ${currentUser.username}">
                                <h1 style="font-family: 'Times New Roman'">Tervetuloa käyttäjän <span th:text="${profile.account.name}">nimi</span> profiiliin </h1>
                                <p style="font-family:'Courier New'">Täällä näet, ketkä käyttäjää <span th:text="${profile.account.name}">nimi</span> seuraa, sekä ketä häntä seuraa! </p>
                            </div>

                            <div th:if="${profilePhoto} != null">
                                <img th:src="@{/accounts/{profileName}/photos/{number}/content(profileName=${profile.profileName}, number=${profilePhoto})}"   
                                     width="200" height="200" style="border: #000000 3px outset" />
                            </div>

                            <div th:if="${profilePhoto} == null">
                                <img src="https://www.iptc.org/wp-content/uploads/2018/05/avatar-anonymous-300x300.png" width="200" height="200" style="border: #000000 3px outset">
                            </div>    
                            <p></p>

                            <h4 style="font-family: 'Times New Roman'">Seuraajat: (<span th:text="${number_of_followers}">followers</span>kpl)</h4>

                            <ul class="list-group">
                                <li class="list-group-item" th:each="follow : ${followers}">
                                    <footer class="blockquote-footer"> Nimi: <span th:text="${follow.follower.account.name}">name</span></cite></footer>
                                    <footer class="blockquote-footer"> Seurattu: <span th:text="${follow.time}">time</span></cite></footer>
                                    <p></p>

                                    <form th:action="@{/accounts/{profileName}(profileName=${follow.follower.account.profileName})}" method="GET">
                                        <input type="submit" class="btn btn-dark" value="Näytä käyttäjän profiili"/>
                                    </form>


                                    <div th:if="${profile.account.username} == ${currentUser.username}">
                                        <form th:action="@{/accounts/{profileName}/delete_follower/{profileName_to_delete}(profileName=${profile.profileName}, profileName_to_delete=${follow.follower.profileName})}" method="POST">
                                            <input type="submit" class="btn btn-light" value="Poista käyttäjä seuraajistasi"/>
                                        </form>
                                    </div>

                                </li>
                            </ul>

                            <p></p>
                            <h4 style="font-family: 'Times New Roman'">Seuratut: (<span th:text="${number_of_following}">following</span>kpl)</h4>


                            <ul class="list-group">
                                <li class="list-group-item" th:each="follow : ${following}">
                                    <footer class="blockquote-footer"> Nimi: <span th:text="${follow.following.account.name}">name</span></cite></footer>
                                    <footer class="blockquote-footer"> Seurattu: <span th:text="${follow.time}">time</span></cite></footer>
                                    <p></p>

                                    <form th:action="@{/accounts/{profileName}(profileName=${follow.following.account.profileName})}" method="GET">
                                        <input type="submit" class="btn btn-dark" value="Näytä käyttäjän profiili"/>
                                    </form>

                                    <div th:if="${profile.account.username} == ${currentUser.username}">
                                        <form th:action="@{/accounts/{profileName}/delete_following/{profileName_to_delete}(profileName=${profile.profileName}, profileName_to_delete=${follow.following.profileName})}" method="POST">
                                            <input type="submit" class="btn btn-light" value="Lopeta seuraaminen"/>
                                        </form>
                                    </div>
                                </li>
                            </ul>


                            <div th:if="${profile.account.username} != ${currentUser.username}">
                                <br></br>

                                <div th:if="${alreadyFollowing} == false">

                                    <form th:action="@{/accounts/{profileName}/(profileName=${profile.profileName})}" method="POST">
                                        <input type="submit" class="btn btn-dark" value="Seuraa käyttäjää"/>
                                    </form>
                                </div>

                                <div th:if="${alreadyFollowing} == true">
                                    <h4 style="font-family: 'Times New Roman'">Seuraat käyttäjää! </h4>
                                </div>

                                <br></br>
                                <div><a th:href="@{/accounts/{profileName}/photos(profileName=${profile.profileName})}">Katso käyttäjän <span th:text="${profile.account.name}">kayttajan nimi</span> kuvat</a></div>

                            </div>
                        </div>
                    </div>

                </div>
            </div>
            </div>
            <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>        </body>

    </html>
</html>
